/**
 * Pagination
 */
.pagination {
  margin-top: $spacing-unit;
  text-align: center;

  a,
  span {
    color: $grey-color-light;
    padding: 0.5rem 0.75rem;
  }

  a {
    &:focus,
    &:hover {
      text-decoration: none;
      color: $grey-color;
    }
  }

  .active {
    color: $grey-color;
  }

  .disable {
    color: #fff;
  }

}

@include media-query($on-palm) {
  .pagination {
    font-size: $small-font-size;
  }
}
