.font-family-hhj {
  font-family: ('HHJ8B', $base-font-family);
}

.font-family-kw {
  font-family: ('KW4B', $base-font-family);
}

.font-size-lg {
  font-size: 1.25rem;
}

.font-size-xl {
  font-size: 1.75rem;
}
