/**
 * Base
 */
body {
  color: $oc-gray-8;
}

a {
  color: $oc-violet-6;
  &:hover {    
    color: $oc-violet-8;
  }
}


/**
 * Extends
 */
%hover-gray {
  & {
    color: $oc-gray-7;
    &:hover {
      color: $oc-gray-8;
    }
  }
}
