/* SpoqaHanSans */

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('../assets/fonts/SpoqaHanSans-Thin.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/SpoqaHanSans-Thin.woff2') format('woff2'),
       url('../assets/fonts/SpoqaHanSans-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight:  100;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('../assets/fonts/SpoqaHanSans-Light.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/SpoqaHanSans-Light.woff2') format('woff2'),
       url('../assets/fonts/SpoqaHanSans-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight:  300;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('../assets/fonts/SpoqaHanSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/SpoqaHanSans-Regular.woff2') format('woff2'),
       url('../assets/fonts/SpoqaHanSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight:  400;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('../assets/fonts/SpoqaHanSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/SpoqaHanSans-Bold.woff2') format('woff2'),
       url('../assets/fonts/SpoqaHanSans-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight:  700;
}

/* HHJ8B */

@font-face {
  font-family: 'HHJ8B';
  src: url('../assets/fonts/HHJ8B.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/HHJ8B.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/HHJ8B.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/HHJ8B.woff2') format('woff2'), /* WOFF test version */
       url('../assets/fonts/HHJ8B.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight:  400;
}

/* KW4B */

@font-face {
  font-family: 'KW4B';
  src: url('../assets/fonts/KW4B.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/KW4B.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/KW4B.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/KW4B.woff2') format('woff2'), /* WOFF test version */
       url('../assets/fonts/KW4B.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight:  400;
}
