/**
 * Pagination
 */
.pagination {
  text-align: center;

  a,
  span {
    color: $grey-color;
    padding: 0.5em 0.75em;
    border-radius: 3px;
  }

  a {
    -webkit-transition:  $transition;
    -o-transition: $transition;
    transition: $transition;
    &:focus,
    &:hover {
      text-decoration: none;
      background-color: rgba($grey-color,0.1);
      -webkit-transition:  $transition;
      -o-transition: $transition;
      transition: $transition;
    }
  }

  .active {
    background-color: rgba($grey-color,0.1);
  }

  .disable {
    color: $grey-color-light;
  }

}

@include media-query($on-palm) {
  .pagination {
    font-size: $small-font-size;
  }
}
