/**
 * Typography
 */

 // font family

.font-family-hhj {
  font-family: ('HHJ8B', $base-font-family);
}

// font size

.font-size-lg {
  font-size: 1.25rem;
}

// text color

.text-color-base {
  color: $text-color;
  &:visited {
    color: $text-color;
  }
}

.text-color-grey {
  color: $grey-color;
}
